body {
    font-family: sans-serif;
    background-color: #CCF2F4;
    color: #2B3467;
}

section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

    /*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #2B3467;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#logoImg {
    display: flex;
    height: 40px;
}
nav.navigation {
    display: flex;
    font-size: 18px;
}
a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 110px;
    padding: 8px;
    margin: 3px;
    border-radius: 10px;
    border: 1px solid #2B3467;
    background-color: #91C8E4;
}
a#logo {
    border: 0px;
    width: auto;
    background-color: #CCF2F4;
}

    /*home*/
h1 {
    font-size: 30px;
    margin-left: 7%;
    margin-bottom: 0px;
}
#description {
    margin-left: 7%;
    margin-top: 5px;
}
#homeImg {
    width: 80%;
    margin-left: 10%;
}

    /*facility*/
section.facDetail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 0px;
    margin-top: 20px;
}
div.facDetail {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
#facilityImg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 175px;
}
p {
    font-size: 20px;
}

    /*message us*/
section.mesDetail {
    display: flex;
    flex-direction: row;
}
form{
    margin-top: 20px;
    margin-left: 10%;
}
div.form {
    display: flex;
    height: 40px;
    align-items: center;
}
label {
    width: 150px;
    font-size: 20px;
}
input {
    height: 30px;
    margin: 3px;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}
input#women, input#men {
    width: 18px;
    margin-right: 10px;
}
div.message {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 130px;
}
textarea {
    height: auto;
    margin: 3px;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
}
input:focus, textarea:focus {
    border: 2px solid #93BFCF;
}
#submit {
    margin-top: 20px;
    width: 400px;
}

    /*footer*/
footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:600px) {
    header {
        flex-direction: column;
        padding-bottom: 5px;
    }
    nav.navigation {
        font-size: 15px;
        margin-top: 5px;
    }
    a {
        height: 20px;
        width: 100px;
    }
    a#logo {
        height: 40px;
    }
    #logoImg {
        height: 40px;
    }
    div.facDetail {
        width: 140px;
    }
    #facilityImg{
        width: 140px;
    }
    input {
        width: 170px;
    }
    label#women, label#men {
        width: 100px;
    }
    label#men {
        width: 50px;
    }
    textarea {
        width: 170px;
    }
    #submit {
        width: 320px;
    }
    section.mesDetail {
        flex-direction: column;
    }
}